<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>{% block title %}MYPROGRESS - FRANCE{% endblock %}</title>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/profil.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/modifyInfoProfil.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/modifyPassword.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/exercices.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/show.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/editForm.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/body.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/footer.css') }}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MYPROGRESS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ path('home') }}">ACCEUIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('exercices') }}">EXERCICES</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('account') }}">PROFIL <small>({{ app.user.firstname }})</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">DECONNEXION</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin') }}">ADMIN</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">CONNEXION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">INSCRIPTION</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
<!-- FOOTER -->
<footer class=" text-center">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p> MYPROGRESS, 2021 . Create by Sahouli Billel</p>
</footer>
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
