{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - MY PROGRESS{% endblock %}

{% block content %}
        <h1 class="h1-profil">Modifier</h1>
    {% if app.user %}
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <a href="{{ path('account') }}" style="color: #000000; ">Retour au profil</a>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {{ form_row(form.old_password) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {{ form_row(form.new_password) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    {{ form_row(form.country) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <button style="width: 200px;" type="submit" class="btn btn-success">Valider</button>
                </div>
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
